html{
    background-color: whitesmoke;
}

body{
    background-color: coral;
    text-align: center;
}

h1{
    color: green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}